<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpPlatformHandlerMain" />
      <add name="httpPlatformHandlerMain" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
     <httpPlatform processPath="%programfiles(x86)%\apache-tomcat-8.5.6\bin\startup.bat" arguments="start" >
        <environmentVariables>
            <environmentVariable name="CATALINA_OPTS" value="-Dport.http=12598" />            
        </environmentVariables>
      </httpPlatform>
  </system.webServer>
</configuration>
